
.product-img1{
  background-image: url(https://i.ibb.co/8g3w5Tq/white-luxurydinning-set.jpg);

}

.product-img2{
  background-image: url(https://i.ibb.co/jzGKKk2/glass-glassdinning-set.jpg);

}

.product-img2b{
  background-image: url(https://i.ibb.co/2vzv6Wx/brwn-white-chairstable.jpg);

}

.product-img2c{
  background-image: url(https://i.ibb.co/4dk8wcV/swede-dark-greydinning-set.jpg);
}

.product-img3{
  background-image: url(https://i.ibb.co/LSfFtPQ/swededinning-set.jpg);
}

.product-img4b{
  background-image: url(https://i.ibb.co/p02PgQD/white-walnut-dining-chairs-tables.jpg);
}

.product-img4{
  background-image: url(https://i.ibb.co/kKbZPsS/Solid-Wooddinning-set-y.jpg);
}
.product-img4c{
  background-image: url(https://i.ibb.co/X5Gcr1Y/lether-dining-chairs-tables.jpg);
}
.product-img22a{
  background-image: url(https://i.ibb.co/HgjycL4/lu-dinning-set.jpg);
}

.product-img22b{
  background-image: url(https://i.ibb.co/QM8qhTW/2velvet-dining-chairs-tables.jpg);
  
}

.product-img22c{
  background-image: url(https://i.ibb.co/XSmnLph/grey-velvet-dining-chairs-tables.jpg);
}


.product-img22d{
  background-image: url(https://i.ibb.co/gmb1fFW/black-white-dining-chairs-tables.jpg);
}


.product-img21a{
  background-image: url(https://i.ibb.co/B2J8Wjd/Gorgeous-Living-Room-Decoration-Letest-Living-Room-designs.jpg);
}


.product-img21b{
  background-image: url(https://i.ibb.co/Nnfb4gp/sofa-set.jpg);
}


.product-img21c{
  background-image: url(https://i.ibb.co/WVKXdB4/Sectional-4-Seater-Sofa.jpg);
}


.product-img21d{
  background-image: url(https://i.ibb.co/qNjVV9r/COTTA-Megasofa-wei-Kunstleder-SOFTLUX-Struktur.jpg);
}


.product-img20a{
  background-image: url(https://i.ibb.co/h2t9T0H/FURNITURE-LEISURE.jpg);
}


.product-img20b{
  background-image: url(https://i.ibb.co/vdRqbPZ/white-gold.jpg);
}


.product-img20c{
  background-image: url(https://i.ibb.co/713L5Bp/simple-stylish-sofa-design-ideas.jpg);
}


.product-img20d{
  background-image: url(https://i.ibb.co/V2Ccpx4/download-11.jpg);
}


.product-img23a{
  background-image: url(https://i.ibb.co/wyrYsd3/Accordion-Coffee-Table.jpg);
}


.product-img23b{
  background-image: url(https://i.ibb.co/VVZ0YxS/Mesa-de-Centro-para-Sala-em-10x-Sem-Juros.jpg);
}


.product-img23c{
  background-image: url(https://i.ibb.co/RS1Lb8N/black-white-coffee.jpg);
}


.product-img23d{
  background-image: url(https://i.ibb.co/K5g2wvZ/Nesting-Table.jpg);
}


.product-img24a{
  background-image: url(../images/home-furniture/lounge/divider1.jpeg);
}


.product-img24b{
  background-image: url(../images/home-furniture/lounge/divider1.jpeg);
}


.product-img24c{
  background-image: url(../images/home-furniture/lounge/Home\ decor.jpeg);
}


.product-img24d{
  background-image: url(../images/home-furniture/lounge/divider4.jpeg);
}


.product-img25a{
  background-image: url(https://i.ibb.co/stnXhsN/gray.jpg);
}


.product-img25b{
  background-image: url(https://i.ibb.co/s98nDsp/Soft-Fabric-Padded-Stool-Padded-Seat-Dressing-Vanity-Chair-Makeup-Stool-Pouffe.jpg);
}


.product-img25c{
  background-image: url(https://i.ibb.co/rtLNpVK/stool.jpg);
}


.product-img25d{
  background-image: url(https://i.ibb.co/MDZDDvh/Wooden-Padded-Footstool.jpg);
}



.product-img26a{
  background-image: url(https://i.ibb.co/YRVDvKR/Media-Console-Wooden2.jpg);
}


.product-img26b{
  background-image: url(https://i.ibb.co/vj448NR/Media-Console-Wooden-s.jpg);
}


.product-img26c{
  background-image: url(https://i.ibb.co/m4VwG9x/Minimalist-Wood-TV-Stand2.jpg);
}


.product-img26d{
  background-image: url(https://i.ibb.co/0tJTxck/Minimalist-Wood-TV-Stand.jpg);
}


.product-img27a{
  background-image: url(https://i.ibb.co/nshYJ8h/display2.jpg);
}


.product-img27b{
  background-image: url(https://i.ibb.co/gSZwRKq/display3.jpg);
}


.product-img27c{
  background-image: url(https://i.ibb.co/zsvXRBG/download-2.jpgg);
}


.product-img27d{
  background-image: url(https://i.ibb.co/njzQX2h/display.jpg);
}



.product-img28a{
  background-image: url(https://i.ibb.co/c8w4Bv5/0fa9359c-23ee-47a6-84c4-a299e7f48536.jpg);
}


.product-img28b{
  background-image: url(https://i.ibb.co/7vnC6WD/luxury-divider.jpg);
}


.product-img28c{
  background-image: url(https://i.ibb.co/rcVFJBM/Hall1.jpg);
}


.product-img28d2{
  background-image: url(https://i.ibb.co/YdTXnPB/divider1.jpg);
}